body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.line {
  margin: 10px;
}

#photoContainer {
  padding: 10px
}

#photoContainer object {
  display: block;
  width: 100%;
  max-width: 600px;
  margin-bottom: 10px;
}