body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#header {
  display: flex;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
}

#links {
  width: 150px;
  text-align: right;
  padding-top: 10px;
}

#github img {
  width: 60px;
  margin-bottom: 5px;
}

#tea {
  color: black;
  font-size: smaller;
}

#list {
  margin: 10px 0px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-top: 10px;
}

.row {
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 35px;
  line-height: 35px;
  margin-bottom: 2px;
}

.row a {
  padding-left: 10px;
}

.row:first-child {
  border-top: 1px dashed black;
  height: 0px;
}

label {
  margin-right: 10px;
}

#marks {
  display: flex;
  margin-top: 15px;
  font-size: smaller;
}

#start {
  width: 100%;
}