.row, .stat {
  display: flex;
}

.stat {
  margin: 10px;
}

.label {
  font-weight: bold;
}

.value {
  margin-left: 10px;
}

.year {
  width: 34px;
  height: 34px;
  background-color: #A3BFF4;
  border: 0.5px solid white;
  line-height: 34px;
  text-align: center;
  font-size: 13px;
  color: #37383a
}

.found {
  background-color: #C8E3C2;
  cursor: pointer;
}