body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.row, .stat {
  display: flex;
}

.stat, .map {
  margin: 10px;
}

.label {
  font-weight: bold;
}

.value {
  margin-left: 10px;
}

.year {
  width: 34px;
  height: 34px;
  background-color: #a3bff4;
  border: 0.5px solid white;
  line-height: 34px;
  text-align: center;
  font-size: 13px;
  color: #37383a
}

.found {
  background-color: #c8e3c2;
  cursor: pointer;
}