photos/original
photos/web
photos/upload

*.tmp

.DS_Store

utils/*/*.csv
utils/*/*.json

utils/historic-england/prepare/*.csv
utils/historic-england/crawl
utils/historic-england/analysis
utils/historic-england/db/pgdata