# infra
.terraform
.terraform.lock.hcl
/iaac/*.zip
# python dependencies
/iaac/lambda-resize/*/*

node_modules

# photos
photos/original

*.tmp

.DS_Store

utils/*/*.csv
utils/*/*.json

utils/historic-england/prepare/*.csv
utils/historic-england/crawl
utils/historic-england/analysis
utils/historic-england/db/pgdata
utils/historic-england/find_missing_photos/*.csv

data.csv