name: Build

on:
  push:
    branches:
      - "**" # matches every branch
      - "!main" # excludes main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r utils/requirements.txt
      - name: Run build
        run: make build
      - name: Commit changes
        run: |
          git config --global user.name 'Aleksandr Elmekeev'
          git config --global user.email 'donamok@gmail.com'
          git diff --exit-code || git commit -am "make build" && git push
